<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="../assets/layui/css/layui.css">
    <style>
      .container{padding:15px;}
      .container h1{margin-bottom:20px;text-align: center;}
      .valid{border:1px solid #58bc58;color:#58bc58}
      .invalid{border:1px solid #f00;color:#f00;}
    </style>
</head>
<body>
    <div class="container">
        <h1>用户登录</h1>
        <!-- <form class="layui-form" action="" lay-filter="example"> -->
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-block">
                <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
              </div>
            </div>
            
           
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button type="submit" class="layui-btn btnLogin" lay-submit="" lay-filter="demo1">登录</button>
              </div>
            </div>
          <!-- </form> -->
    </div>
      <script src="../assets/layui/layui.js"></script>
      <script src="../js/request.js"></script>
      <script>
          (()=>{
            const btnLogin = document.querySelector('.btnLogin');
            const username = document.querySelector('[name=username]');
            const password = document.querySelector('[name=password]');

            
            btnLogin.onclick = async function(){
                const _username = username.value;
                const _password = password.value;
                // request('/reg',{method:'post'})
                const result = await request.get('/login',{username:_username,password:_password})

                if(result.code === 401){
                    alert('用户名或密码失败')
                }else if(result.code === 200){
                  // 把用户信息保存在本地
                  localStorage.setItem('userInfo',JSON.stringify(result.data));
                  location.href = 'mine.html'
                }
                

            }

            
          })()
      </script>
</body>
</html>