<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户中心</title>
    <link rel="stylesheet" href="../assets/layui/css/layui.css">
</head>

<body>
    <div class="container">
        <nav style="background-color: #393D49;">

            <div class="layui-row">
                <div class="layui-col-md9">
                    <ul class="layui-nav">
                        <li class="layui-nav-item">
                            <a href="../index.html">首页</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="mine.html">个人中心<span class="layui-badge-dot"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="layui-col-md3" style="overflow: hidden;">
                    <ul class="layui-nav userInfo" style="float:right">
                        <li class="layui-nav-item">
                            <a href="reg.html">注册</a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="login.html">登录</a>
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
        <main>
            <h1>用户中心</h1>

        </main>

    </div>
    <script src="../js/request.js"></script>
    <script src="../js/common.js"></script>
</body>

</html>