<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户注册</title>
    <link rel="stylesheet" href="../assets/layui/css/layui.css">
    <style>
      .container{padding:15px;}
      .container h1{margin-bottom:20px;text-align: center;}
      .valid{border:1px solid #58bc58;color:#58bc58}
      .invalid{border:1px solid #f00;color:#f00;}
    </style>
</head>
<body>
    <div class="container">
        <h1>用户注册</h1>
        <!-- <form class="layui-form" action="" lay-filter="example"> -->
            <div class="layui-form-item">
              <label class="layui-form-label">用户名</label>
              <div class="layui-input-block">
                <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
              </div>
            </div>
            <div class="layui-form-item">
              <label class="layui-form-label">密码</label>
              <div class="layui-input-block">
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
              </div>
            </div>
            
           
            <div class="layui-form-item">
              <div class="layui-input-block">
                <button type="submit" class="layui-btn btnReg" lay-submit="" lay-filter="demo1">免费注册</button>
              </div>
            </div>
          <!-- </form> -->
    </div>
      <script src="../assets/layui/layui.js"></script>
      <script src="../js/request.js"></script>
      <script src="../js/common.js"></script>
      <script>
          (()=>{
            const btnReg = document.querySelector('.btnReg');
            const username = document.querySelector('[name=username]');
            const password = document.querySelector('[name=password]');

            let valid = true;
            
            btnReg.onclick = async function(){
                if(!valid){
                  alert('表单校验失败')
                  return;
                }
                const _username = username.value;
                const _password = password.value;
                // request('/reg',{method:'post'})
                const result = await request.post('/reg',{username:_username,password:_password})

                console.log('result=',result)
                if(result.code === 200){
                  location.href = 'login.html';
                }else if(result.code === 400){
                  alert('注册失败')
                }

            }

            // 校验用户名是否存在
            username.onchange = async function(){
              const _username = username.value;
              const result = await request.get('/reg/check',{username:_username})
              console.log('result',result);
              if(result.code === 400){
                username.classList.remove('valid')
                username.classList.add('invalid')
                valid = false;
              }else{
                username.classList.remove('invalid')
                username.classList.add('valid')
                valid = true;
              }
            }
          })()
      </script>
</body>
</html>